<a href="https://colab.research.google.com/github/bypolyarka/home-credit-kaggle/blob/master/home_credit_full_data_fe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Данные из других таблиц

* application_train/application_test: Основные данные, заемщик идентифицируется по полю SK_ID_CURR

* bureau: Данные по предыдущим займам в других кредитных организациях из кредитного бюро

* bureau_balance: Ежемесячные данные по предыдущим кредитам по бюро. Каждая строка — месяц испльзования кредита

* previous_application: Предыдущие заявки по кредитам в Home Credit, каждая имеет уникальное поле SK_ID_PREV

* POS_CASH_BALANCE: Ежемесячные данные по кредитам в Home Creditс выдачей наличными и кредитам на покупки товаров

* credit_card_balance: Ежемесячные данные по балансу кредитных карт в Home Credit

* installments_payment: Платежная история предыдущих займов в Home Credit.

In [1]:
import gc
import pandas as pd
import numpy as np


from copy import copy

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, LabelEncoder

from lightgbm import LGBMClassifier

In [2]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/application_train.csv').replace({365243: np.nan})
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/application_test.csv').replace({365243: np.nan})
prev = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/previous_application.csv').replace({365243: np.nan})
buro = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/bureau.csv').replace({365243: np.nan})
buro_balance = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/bureau_balance.csv').replace({365243: np.nan})
credit_card  = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/credit_card_balance.csv').replace({365243: np.nan})
POS_CASH  = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/POS_CASH_balance.csv').replace({365243: np.nan})
payments = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/installments_payments.csv').replace({365243: np.nan})

### Вспомогательные функции для препроцессинга

In [3]:
def aggregation_of_means(dataframe):
    """ Функция для агрегирования колонок, содержащих меры центральных тенденций
        (колонки, имена которых содержат постфиксы '*_MODE', '*_AVG', '*_MEDI')
    """
    df = dataframe.copy()

    cols = set(list(filter(lambda col: col.endswith(('MODE', 'AVG', 'MEDI')), df.columns)))

    # удаляем названия, содержащие категориальные признаки 
    _cat_cols = set(df[cols].select_dtypes(include=[object]).apply(pd.Series.nunique, axis=0).index.to_list())
    cols.difference_update(_cat_cols)

    cols_to_drop = copy(cols)

    results = set()
    while len(cols):
        col = cols.pop()
        prefix_name = '_'.join(col.split('_')[:-1])
        tmp = list(filter(lambda c: c.startswith(prefix_name) and c != col, cols))
        cols.difference_update(set(tmp))
        results.add((col, *tmp))
    
    results = list(map(list, results))
    
    for t in results:
        new_col_name = '_'.join(t[0].split('_')[:-1]) + '_MEAN'
        if len(t) == 1:
            df[new_col_name] = df[t]
            continue
        df[new_col_name] = df[t].mean(axis=1)
    
    df.drop(columns=cols_to_drop, inplace=True)
    return df

In [4]:
def has_documents(dataframe):
    df = dataframe.copy()
    cols = ['FLAG_DOCUMENT_{}'.format(i) for i in range(2, 22)]
    df['HAS_DOCS'] = df[cols].any(axis=1).astype('int')
    df.drop(columns=cols, inplace=True)
    return df

In [5]:
def days_birth_to_years(dataframe):
    df = dataframe.copy()
    df['AGE'] = (df['DAYS_BIRTH'].abs() / 365).astype('int')
    df.drop(columns=['DAYS_BIRTH'], inplace=True)
    return df

In [6]:
def days_employed_preprocess(dataframe):
    df = dataframe.copy()
    # определим выбросы - люди с опытом работы более 1000 лет
    outliers = df.loc[df['DAYS_EMPLOYED'] > 0, 'DAYS_EMPLOYED'].value_counts().index.to_list()  
    # заменим на значения на nan
    df['DAYS_EMPLOYED'].replace(outliers, np.nan, inplace=True)
    df['EMPLOYED_YEARS'] = df['DAYS_EMPLOYED'].abs() / 365
    df.drop(columns=['DAYS_EMPLOYED'], inplace=True)
    
    return df

In [7]:
def cnt_children_preprocess(dataframe):
    df = dataframe.copy()
    df.loc[df['CNT_CHILDREN'] > 5, 'CNT_CHILDREN'] = 6
    return df


def cnt_fam_memb_preprocess(dataframe):
    df = dataframe.copy()
    df.loc[df['CNT_FAM_MEMBERS'] > 7, 'CNT_FAM_MEMBERS'] = 8
    return df

In [8]:
def one_hot_encoder(df, categorical_columns=None, nan_as_category=False):
    """Create a new column for each categorical value in categorical columns. """
    original_columns = list(df.columns)
    if not categorical_columns:
        categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns=categorical_columns, dummy_na=nan_as_category)
    categorical_columns = [c for c in df.columns if c not in original_columns]
    return df, categorical_columns


def label_encoder(df):
    cat_features = df.select_dtypes(include=[object]).apply(pd.Series.nunique, axis=0)
    le = LabelEncoder()
    for col in cat_features[cat_features==2].index:
        df[col] = le.fit_transform(df[col].astype('str'))
    return df, df.select_dtypes(include=[object]).apply(pd.Series.nunique, axis=0).index.to_list()

## Данные по основным таблицам

In [9]:
print ('Формат тренировочной выборки', train.shape)
print ('Формат тестовой выборки', test.shape)

Формат тренировочной выборки (307511, 122)
Формат тестовой выборки (48744, 121)

In [10]:
dataset = pd.concat([train, test])
dataset.shape

(356255, 122)

In [11]:
dataset = aggregation_of_means(dataset)

dataset = has_documents(dataset)

dataset = dataset[dataset['CODE_GENDER'] != 'XNA']  # 4 человека XNA

dataset = dataset[dataset['AMT_INCOME_TOTAL'] < 20000000]  # Максимум в тестовой выборке 4 млн, в обучающей 117 млн
# dataset['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)  # > 55к людей с опытом работы более 1000 лет
dataset['DAYS_LAST_PHONE_CHANGE'].replace(0, np.nan, inplace=True)

dataset, cat_feats = label_encoder(dataset)
dataset, _ = one_hot_encoder(dataset, cat_feats)

dataset['CREDIT_TO_ANNUITY_RATIO'] = dataset['AMT_CREDIT'] / dataset['AMT_ANNUITY']
dataset['CREDIT_TO_GOODS_RATIO'] = dataset['AMT_CREDIT'] / dataset['AMT_GOODS_PRICE']

dataset['ANNUITY_TO_INCOME_RATIO'] = dataset['AMT_ANNUITY'] / dataset['AMT_INCOME_TOTAL']
dataset['CREDIT_TO_INCOME_RATIO'] = dataset['AMT_CREDIT'] / dataset['AMT_INCOME_TOTAL']
dataset['INCOME_TO_EMPLOYED_RATIO'] = dataset['AMT_INCOME_TOTAL'] / dataset['DAYS_EMPLOYED']
dataset['INCOME_TO_BIRTH_RATIO'] = dataset['AMT_INCOME_TOTAL'] / dataset['DAYS_BIRTH']

dataset['EMPLOYED_TO_BIRTH_RATIO'] = dataset['DAYS_EMPLOYED'] / dataset['DAYS_BIRTH']
dataset['ID_TO_BIRTH_RATIO'] = dataset['DAYS_ID_PUBLISH'] / dataset['DAYS_BIRTH']
dataset['CAR_TO_BIRTH_RATIO'] = dataset['OWN_CAR_AGE'] / dataset['DAYS_BIRTH']
dataset['CAR_TO_EMPLOYED_RATIO'] = dataset['OWN_CAR_AGE'] / dataset['DAYS_EMPLOYED']
dataset['PHONE_TO_BIRTH_RATIO'] = dataset['DAYS_LAST_PHONE_CHANGE'] / dataset['DAYS_BIRTH']

dataset['AMT_INCOME_TOTAL_CNT_FAM_MEMBERS_RATIO'] = dataset['AMT_INCOME_TOTAL'] / dataset['CNT_FAM_MEMBERS']
dataset['AMT_INCOME_TOTAL_CNT_CHILDREN_RATIO'] = dataset['AMT_INCOME_TOTAL'] / (1 + dataset['CNT_CHILDREN'])

# dataset['EXT_SOURCE_SUM'] = dataset[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].sum(axis=1)
# dataset['EXT_SOURCE_MUL'] = dataset['EXT_SOURCE_1'] * dataset['EXT_SOURCE_2'] * dataset['EXT_SOURCE_3']

# dataset['CNT_MISS'] = dataset.isna().sum(axis=1)

In [12]:
train = dataset.loc[dataset['TARGET'].notna(), :]
test = dataset.loc[dataset['TARGET'].isna(), :]

print ('Формат тренировочной выборки', train.shape)
print ('Формат тестовой выборки', test.shape)

Формат тренировочной выборки (307506, 206)
Формат тестовой выборки (48744, 206)

In [13]:
del dataset
gc.collect()

37

## Общие данные по кредитным бюро

In [14]:
buro.head()

   SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0    215354.0     5714462.0  ...             -131.0         NaN
1    215354.0     5714463.0  ...              -20.0         NaN
2    215354.0     5714464.0  ...              -16.0         NaN
3    215354.0     5714465.0  ...              -16.0         NaN
4    215354.0     5714466.0  ...              -21.0         NaN

[5 rows x 17 columns]

* CREDIT_ACTIVE - Текущий статус займа - Закрыт / Активен / Плохой / Продан (4 значения)

* CREDIT_CURRENCY - Валюта, в которой была выполнена транзакция - Currency1, Currency2, Currency3, Currency4 (4 значения)

* CREDIT_DAY_OVERDUE - Количество дней просрочки по кредиту

* CREDIT_TYPE - Consumer Credit, Credit card, Mortgage, Car loan, Microloan, Loan for working capital replemishment, Loan for Business development, Real estate loan, Unkown type of laon, Another type of loan. Cash loan, Loan for the purchase of equipment, Mobile operator loan, Interbank credit, Loan for purchase of shares (Потребительский кредит, Кредитная карта, Ипотека, Автокредит, Микрозайм, Кредит на пополнение оборотного капитала, Кредит на развитие бизнеса, Кредит на недвижимость, Неизвестный вид кредита, Другой вид кредита. Кредит наличными, Кредит на покупку оборудования, Кредит оператора мобильной связи, Межбанковский кредит, Кредит на покупку акций (15 категорий))

* DAYS_CREDIT - Количество дней, ПРОШЕДШИХ с того момента, как клиент подал заявку на кредит в отношении текущей заявки. Интерпретация - Равномерно ли распределены эти ссуды по временным интервалам? Сосредоточены ли они в одном временном интервале?

* DAYS_CREDIT_ENDDATE - Количество дней, в течение которых КРЕДИТ клиента действителен на момент подачи заявки

* CREDIT_DAY_OVERDUE - Количество дней, в течение которых КРЕДИТ клиента превышает дату окончания на момент подачи заявки

* AMT_CREDIT_SUM - Общий доступный кредит для клиента 

* AMT_CREDIT_SUM_DEBT - Общая сумма еще не погашена 

* AMT_CREDIT_SUM_LIMIT - Текущий кредит, который был использован 

* AMT_CREDIT_SUM_OVERDUE - Текущий кредитный платеж, который просрочен 

* CNT_CREDIT_PROLONG - Сколько раз продлевалась дата кредитования

### 1) Количество прошлых кредитов по клиентам

In [15]:
grp = buro[['SK_ID_CURR', 'DAYS_CREDIT']].groupby(by=['SK_ID_CURR'])['DAYS_CREDIT'].count().reset_index().rename(index=str, columns={'DAYS_CREDIT': 'BUREAU_LOAN_COUNT'})
buro = buro.merge(grp, on=['SK_ID_CURR'], how='left')
buro.head()

   SK_ID_CURR  SK_ID_BUREAU  ... AMT_ANNUITY BUREAU_LOAN_COUNT
0    215354.0     5714462.0  ...         NaN              11.0
1    215354.0     5714463.0  ...         NaN              11.0
2    215354.0     5714464.0  ...         NaN              11.0
3    215354.0     5714465.0  ...         NaN              11.0
4    215354.0     5714466.0  ...         NaN              11.0

[5 rows x 18 columns]

### 2) Количество видов прошлых кредитов

In [16]:
grp = buro[['SK_ID_CURR', 'CREDIT_TYPE']].groupby(by=['SK_ID_CURR'])['CREDIT_TYPE'].nunique().reset_index().rename(index=str, columns={'CREDIT_TYPE': 'BUREAU_LOAN_TYPES'})
buro = buro.merge(grp, on=['SK_ID_CURR'], how='left')
buro.head()

   SK_ID_CURR  SK_ID_BUREAU  ... BUREAU_LOAN_COUNT BUREAU_LOAN_TYPES
0    215354.0     5714462.0  ...              11.0               3.0
1    215354.0     5714463.0  ...              11.0               3.0
2    215354.0     5714464.0  ...              11.0               3.0
3    215354.0     5714465.0  ...              11.0               3.0
4    215354.0     5714466.0  ...              11.0               3.0

[5 rows x 19 columns]

### 3) Среднее количество кредитов по каждой категории

Ориентирован ли клиент в получении нескольких типов кредитов или ориентирован на один тип

In [17]:
buro['AVERAGE_LOAN_TYPE'] = buro['BUREAU_LOAN_COUNT'] / buro['BUREAU_LOAN_TYPES']
buro.head()

   SK_ID_CURR  SK_ID_BUREAU  ... BUREAU_LOAN_TYPES AVERAGE_LOAN_TYPE
0    215354.0     5714462.0  ...               3.0          3.666667
1    215354.0     5714463.0  ...               3.0          3.666667
2    215354.0     5714464.0  ...               3.0          3.666667
3    215354.0     5714465.0  ...               3.0          3.666667
4    215354.0     5714466.0  ...               3.0          3.666667

[5 rows x 20 columns]

### 4) % Активных кредитов по данным из бюро

In [18]:
buro['CREDIT_ACTIVE_BINARY'] = buro['CREDIT_ACTIVE']

buro['CREDIT_ACTIVE_BINARY'] = buro['CREDIT_ACTIVE_BINARY'].apply(lambda x: 0 if x == 'Closed' else 1)

# Calculate mean number of loans that are ACTIVE per CUSTOMER 
grp = buro.groupby(by=['SK_ID_CURR'])['CREDIT_ACTIVE_BINARY'].mean().reset_index().rename(index=str, columns={'CREDIT_ACTIVE_BINARY': 'ACTIVE_LOANS_PERCENTAGE'})
buro = buro.merge(grp, on=['SK_ID_CURR'], how='left')
del buro['CREDIT_ACTIVE_BINARY']
buro.head()

   SK_ID_CURR  SK_ID_BUREAU  ... AVERAGE_LOAN_TYPE ACTIVE_LOANS_PERCENTAGE
0    215354.0     5714462.0  ...          3.666667                0.545455
1    215354.0     5714463.0  ...          3.666667                0.545455
2    215354.0     5714464.0  ...          3.666667                0.545455
3    215354.0     5714465.0  ...          3.666667                0.545455
4    215354.0     5714466.0  ...          3.666667                0.545455

[5 rows x 21 columns]

### 5) Среднее количество дней между успешными заявками

Как часто клиент брал кредит в прошлом? Распределялись ли они через равные промежутки времени - сигнал о хорошем финансовом планировании ИЛИ были кредиты, сконцентрированы на меньшем временном интервале, что указывало на потенциальные финансовые проблемы?

In [19]:
# Groupby each Customer and Sort values of DAYS_CREDIT in ascending order
grp = buro[['SK_ID_CURR', 'SK_ID_BUREAU', 'DAYS_CREDIT']].groupby(by=['SK_ID_CURR'])
grp1 = grp.apply(lambda x: x.sort_values(['DAYS_CREDIT'], ascending=False)).reset_index(drop = True)

# Calculate Difference between the number of Days 
grp1['DAYS_CREDIT1'] = grp1['DAYS_CREDIT'] * -1
grp1['DAYS_DIFF'] = grp1.groupby(by=['SK_ID_CURR'])['DAYS_CREDIT1'].diff()
grp1['DAYS_DIFF'] = grp1['DAYS_DIFF'].fillna(0).astype('uint32')
del grp1['DAYS_CREDIT1'], grp1['DAYS_CREDIT'], grp1['SK_ID_CURR'], grp
gc.collect()

buro = buro.merge(grp1, on=['SK_ID_BUREAU'], how='left')
buro.head()

   SK_ID_CURR  SK_ID_BUREAU  ... ACTIVE_LOANS_PERCENTAGE DAYS_DIFF
0    215354.0     5714462.0  ...                0.545455     224.0
1    215354.0     5714463.0  ...                0.545455       5.0
2    215354.0     5714464.0  ...                0.545455     160.0
3    215354.0     5714465.0  ...                0.545455       0.0
4    215354.0     5714466.0  ...                0.545455     132.0

[5 rows x 22 columns]

### 6) % Кредитов на клиента, где конечная дата погашения прошла

ОТРИЦАТЕЛЬНОЕ ЗНАЧЕНИЕ - на момент подачи заявки дата кредита была в прошлом (потенциальный красный флаг !!!)

ПОЛОЖИТЕЛЬНАЯ СТОИМОСТЬ - Дата зачисления находится в будущем на момент подачи заявки (потенциальный хороший знак !!!!)

In [20]:
buro['CREDIT_ENDDATE_BINARY'] = buro['DAYS_CREDIT_ENDDATE']

buro['CREDIT_ENDDATE_BINARY'] = buro['CREDIT_ENDDATE_BINARY'].apply(lambda x: 0 if x < 0 else 1)

grp = buro.groupby(by=['SK_ID_CURR'])['CREDIT_ENDDATE_BINARY'].mean().reset_index().rename(index=str, columns={'CREDIT_ENDDATE_BINARY': 'CREDIT_ENDDATE_PERCENTAGE'})
buro = buro.merge(grp, on=['SK_ID_CURR'], how='left')
del buro['CREDIT_ENDDATE_BINARY']
buro.head()

   SK_ID_CURR  SK_ID_BUREAU  ... DAYS_DIFF CREDIT_ENDDATE_PERCENTAGE
0    215354.0     5714462.0  ...     224.0                  0.545455
1    215354.0     5714463.0  ...       5.0                  0.545455
2    215354.0     5714464.0  ...     160.0                  0.545455
3    215354.0     5714465.0  ...       0.0                  0.545455
4    215354.0     5714466.0  ...     132.0                  0.545455

[5 rows x 23 columns]

### 7) Среднее количество дней, после которых истекает срок действия кредита

In [21]:
# # Dummy column to calculate 1 or 0 values. 1 for Positive CREDIT_ENDDATE and 0 for Negative
# buro['CREDIT_ENDDATE_BINARY'] = buro['DAYS_CREDIT_ENDDATE']


# buro['CREDIT_ENDDATE_BINARY'] = buro['CREDIT_ENDDATE_BINARY'].apply(lambda x: 0 if x < 0 else 1)

# # We take only positive values of  ENDDATE since we are looking at Bureau Credit VALID IN FUTURE 
# # as of the date of the customer's loan application with Home Credit 
# buro1 = buro[buro['CREDIT_ENDDATE_BINARY'] == 1]

# #Calculate Difference in successive future end dates of CREDIT 

# # Create Dummy Column for CREDIT_ENDDATE 
# buro1['DAYS_CREDIT_ENDDATE1'] = buro1['DAYS_CREDIT_ENDDATE']
# # Groupby Each Customer ID 
# grp = buro1[['SK_ID_CURR', 'SK_ID_BUREAU', 'DAYS_CREDIT_ENDDATE1']].groupby(by=['SK_ID_CURR'])
# # Sort the values of CREDIT_ENDDATE for each customer ID 
# grp1 = grp.apply(lambda x: x.sort_values(['DAYS_CREDIT_ENDDATE1'], ascending=True)).reset_index(drop=True)
# del grp
# gc.collect()

# # Calculate the Difference in ENDDATES and fill missing values with zero 
# grp1['DAYS_ENDDATE_DIFF'] = grp1.groupby(by = ['SK_ID_CURR'])['DAYS_CREDIT_ENDDATE1'].diff()
# grp1['DAYS_ENDDATE_DIFF'] = grp1['DAYS_ENDDATE_DIFF'].fillna(0).astype('uint32')
# del grp1['DAYS_CREDIT_ENDDATE1'], grp1['SK_ID_CURR']
# gc.collect()
# print("Difference days calculated")

# # Merge new feature 'DAYS_ENDDATE_DIFF' with original Data frame for BUREAU DATA
# buro = buro.merge(grp1, on = ['SK_ID_BUREAU'], how='left')
# del grp1
# gc.collect()

# # Calculate Average of DAYS_ENDDATE_DIFF

# grp = buro[['SK_ID_CURR', 'DAYS_ENDDATE_DIFF']].groupby(by=['SK_ID_CURR'])['DAYS_ENDDATE_DIFF'].mean().reset_index().rename(index=str, columns={'DAYS_ENDDATE_DIFF': 'AVG_ENDDATE_FUTURE'})
# buro = buro.merge(grp, on=['SK_ID_CURR'], how='left')
# del grp 
# #del B['DAYS_ENDDATE_DIFF']
# del buro['CREDIT_ENDDATE_BINARY'], buro['DAYS_CREDIT_ENDDATE']
# gc.collect()
# buro.head()

### 8) Отношение задолженности к сумме кредита

Отношение общей задолженности к общей сумме кредита для каждого клиента

Высокое значение может указывать на проблемные долги.

In [22]:
# buro['AMT_CREDIT_SUM_DEBT'] = buro['AMT_CREDIT_SUM_DEBT'].fillna(0)
# buro['AMT_CREDIT_SUM'] = buro['AMT_CREDIT_SUM'].fillna(0)

# grp1 = buro[['SK_ID_CURR', 'AMT_CREDIT_SUM_DEBT']].groupby(by=['SK_ID_CURR'])['AMT_CREDIT_SUM_DEBT'].sum().reset_index().rename(index=str, columns={ 'AMT_CREDIT_SUM_DEBT': 'TOTAL_CUSTOMER_DEBT'})
# grp2 = buro[['SK_ID_CURR', 'AMT_CREDIT_SUM']].groupby(by=['SK_ID_CURR'])['AMT_CREDIT_SUM'].sum().reset_index().rename(index=str, columns={ 'AMT_CREDIT_SUM': 'TOTAL_CUSTOMER_CREDIT'})

# buro = buro.merge(grp1, on=['SK_ID_CURR'], how='left')
# buro = buro.merge(grp2, on=['SK_ID_CURR'], how='left')
# del grp1, grp2
# gc.collect()

# buro['DEBT_CREDIT_RATIO'] = buro['TOTAL_CUSTOMER_DEBT'] / buro['TOTAL_CUSTOMER_CREDIT']

# del buro['TOTAL_CUSTOMER_DEBT'], buro['TOTAL_CUSTOMER_CREDIT']
# gc.collect()
# buro.head()

### 9) Среднее количество продленных кредитов

In [24]:
buro['CNT_CREDIT_PROLONG'] = buro['CNT_CREDIT_PROLONG'].fillna(0)
grp = buro[['SK_ID_CURR', 'CNT_CREDIT_PROLONG']].groupby(by=['SK_ID_CURR'])['CNT_CREDIT_PROLONG'].mean().reset_index().rename(index=str, columns={'CNT_CREDIT_PROLONG': 'AVG_CREDITDAYS_PROLONGED'})
buro = buro.merge(grp, on=['SK_ID_CURR'], how='left')
buro.head()

   SK_ID_CURR  ...  AVG_CREDITDAYS_PROLONGED
0    215354.0  ...                       0.0
1    215354.0  ...                       0.0
2    215354.0  ...                       0.0
3    215354.0  ...                       0.0
4    215354.0  ...                       0.0

[5 rows x 24 columns]

In [25]:
buro_cat_features = buro.select_dtypes(include=[object]).apply(pd.Series.nunique, axis=0)
buro, _ = one_hot_encoder(buro, categorical_columns=buro_cat_features.index.to_list())
buro.head()

   SK_ID_CURR  ...  CREDIT_TYPE_Unknown type of loan
0    215354.0  ...                                 0
1    215354.0  ...                                 0
2    215354.0  ...                                 0
3    215354.0  ...                                 0
4    215354.0  ...                                 0

[5 rows x 44 columns]

In [26]:

avg_buro = buro.groupby('SK_ID_CURR').mean()
avg_buro['BUREAU_CNT'] = buro[['SK_ID_BUREAU', 'SK_ID_CURR']].groupby('SK_ID_CURR').count()['SK_ID_BUREAU']

del buro
gc.collect()

11

## Данные кредитного бюро по ежемесячному балансу кредитов

In [27]:
buro_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

MONTHS_BALANCE - количество месяцев до даты подачи заявки на кредит

In [28]:
buro_balance.STATUS.value_counts()

C    13646993
0     7499507
X     5810482
1      242347
5       62406
2       23419
3        8924
4        5847
Name: STATUS, dtype: int64

С - closed, то есть погашенный кредит. X - неизвестный статус. 0 - текущий кредит, отсуствие просрочек. 1 - просрочка 1-30 дней, 2 - просрочка 31-60 дней и так далее до статуса 5 - кредит продан третьей стороне или списан

In [29]:
buro_grouped_size = buro_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].size()
buro_grouped_max = buro_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].max()
buro_grouped_min = buro_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].min()

buro_counts = buro_balance.groupby('SK_ID_BUREAU')['STATUS'].value_counts(normalize = False)
buro_counts_unstacked = buro_counts.unstack('STATUS')
buro_counts_unstacked.columns = ['STATUS_0', 'STATUS_1','STATUS_2','STATUS_3','STATUS_4','STATUS_5','STATUS_C','STATUS_X',]
buro_counts_unstacked['MONTHS_COUNT'] = buro_grouped_size
buro_counts_unstacked['MONTHS_MIN'] = buro_grouped_min
buro_counts_unstacked['MONTHS_MAX'] = buro_grouped_max

avg_buro = avg_buro.join(buro_counts_unstacked, how='left', on='SK_ID_BUREAU')
del avg_buro['SK_ID_BUREAU']
del buro_balance
gc.collect()
avg_buro.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:1097: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

            DAYS_CREDIT  CREDIT_DAY_OVERDUE  ...  MONTHS_MIN  MONTHS_MAX
SK_ID_CURR                                   ...
100001.0    -735.000000                 0.0  ...       -51.0         0.0
100002.0    -874.000000                 0.0  ...         NaN         NaN
100003.0   -1400.750000                 0.0  ...         NaN         NaN
100004.0    -867.000000                 0.0  ...         NaN         NaN
100005.0    -190.666667                 0.0  ...        -4.0         0.0

[5 rows x 54 columns]

## Данные по предыдущим заявкам

In [30]:
prev.head()

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0   2030495.0    271877.0  ...            -37.0                        0.0
1   2802425.0    108129.0  ...              NaN                        1.0
2   2523466.0    122040.0  ...              NaN                        1.0
3   2819243.0    176158.0  ...           -177.0                        1.0
4   1784265.0    202054.0  ...              NaN                        NaN

[5 rows x 37 columns]

In [31]:
prev_cat_features = prev.select_dtypes(include=[object]).apply(pd.Series.nunique, axis=0)
prev_cat_features

NAME_CONTRACT_TYPE              4
WEEKDAY_APPR_PROCESS_START      7
FLAG_LAST_APPL_PER_CONTRACT     2
NAME_CASH_LOAN_PURPOSE         25
NAME_CONTRACT_STATUS            4
NAME_PAYMENT_TYPE               4
CODE_REJECT_REASON              9
NAME_TYPE_SUITE                 7
NAME_CLIENT_TYPE                4
NAME_GOODS_CATEGORY            28
NAME_PORTFOLIO                  5
NAME_PRODUCT_TYPE               3
CHANNEL_TYPE                    8
NAME_SELLER_INDUSTRY           11
NAME_YIELD_GROUP                5
PRODUCT_COMBINATION            17
dtype: int64

In [32]:
le = LabelEncoder()
for col in prev_cat_features[prev_cat_features < 4].index:
    prev[col] = le.fit_transform(prev[col].astype('str'))

prev = pd.get_dummies(prev, columns=prev_cat_features[prev_cat_features >=4].index.to_list())
avg_prev = prev.groupby('SK_ID_CURR').mean()
cnt_prev = prev[['SK_ID_CURR', 'SK_ID_PREV']].groupby('SK_ID_CURR').count()
avg_prev['nb_app'] = cnt_prev['SK_ID_PREV']
del avg_prev['SK_ID_PREV']

del prev
gc.collect()

0

## Баланс по кредитной карте

In [33]:
POS_CASH.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0   1803195.0    182943.0  ...     0.0         0.0
1   1715348.0    367990.0  ...     0.0         0.0
2   1784872.0    397406.0  ...     0.0         0.0
3   1903291.0    269225.0  ...     0.0         0.0
4   2341044.0    334279.0  ...     0.0         0.0

[5 rows x 8 columns]

In [34]:
POS_CASH.NAME_CONTRACT_STATUS.value_counts()

Active                   9151119
Completed                 744883
Signed                     87260
Demand                      7065
Returned to the store       5461
Approved                    4917
Amortized debt               636
Canceled                      15
XNA                            2
Name: NAME_CONTRACT_STATUS, dtype: int64

In [35]:
le = LabelEncoder()
POS_CASH['NAME_CONTRACT_STATUS'] = le.fit_transform(POS_CASH['NAME_CONTRACT_STATUS'].astype(str))
nunique_status = POS_CASH[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').nunique()
nunique_status2 = POS_CASH[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').max()
POS_CASH['NUNIQUE_STATUS'] = nunique_status['NAME_CONTRACT_STATUS']
POS_CASH['NUNIQUE_STATUS2'] = nunique_status2['NAME_CONTRACT_STATUS']
POS_CASH.drop(['SK_ID_PREV', 'NAME_CONTRACT_STATUS'], axis=1, inplace=True)

## Данные по картам

In [36]:
credit_card.head(7)

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0
3     1389973      337855  ...       0           0
4     1891521      126868  ...       0           0
5     2646502      380010  ...       7           0
6     1079071      171320  ...       0           0

[7 rows x 23 columns]

In [37]:
credit_card['NAME_CONTRACT_STATUS'] = le.fit_transform(credit_card['NAME_CONTRACT_STATUS'].astype(str))
nunique_status = credit_card[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').nunique()
nunique_status2 = credit_card[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').max()
credit_card['NUNIQUE_STATUS'] = nunique_status['NAME_CONTRACT_STATUS']
credit_card['NUNIQUE_STATUS2'] = nunique_status2['NAME_CONTRACT_STATUS']
credit_card.drop(['SK_ID_PREV', 'NAME_CONTRACT_STATUS'], axis=1, inplace=True)

## Данные по платежам

In [38]:
payments.head(7)

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0   1054186.0    161674.0  ...        6948.360     6948.360
1   1330831.0    151639.0  ...        1716.525     1716.525
2   2085231.0    193053.0  ...       25425.000    25425.000
3   2452527.0    199697.0  ...       24350.130    24350.130
4   2714724.0    167756.0  ...        2165.040     2160.585
5   1137312.0    164489.0  ...        5970.375     5970.375
6   2234264.0    184693.0  ...       29432.295    29432.295

[7 rows x 8 columns]

In [39]:
avg_payments = payments.groupby('SK_ID_CURR').mean()
avg_payments2 = payments.groupby('SK_ID_CURR').max()
avg_payments3 = payments.groupby('SK_ID_CURR').min()
del avg_payments['SK_ID_PREV']

del payments
gc.collect()

22

## Объединение таблиц

In [40]:
train = train.merge(right=avg_prev.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_prev.reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(right=avg_buro.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_buro.reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(POS_CASH.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(POS_CASH.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(credit_card.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(credit_card.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(right=avg_payments.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_payments.reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(right=avg_payments2.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_payments2.reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(right=avg_payments3.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_payments3.reset_index(), how='left', on='SK_ID_CURR')

del avg_prev, avg_buro, POS_CASH, credit_card, avg_payments, avg_payments2, avg_payments3
gc.collect()

0

In [41]:
Y = train['TARGET']
test_id = test['SK_ID_CURR']

test.drop(columns=['TARGET'], inplace=True)
train.drop(columns=['TARGET'], inplace=True)
del train['SK_ID_CURR'], test['SK_ID_CURR']
print ('Формат тренировочной выборки', train.shape)
print ('Формат тестовой выборки', test.shape)
print ('Формат целевого столбца', Y.shape)

Формат тренировочной выборки (307506, 467)
Формат тестовой выборки (48744, 467)
Формат целевого столбца (307506,)

In [42]:
feats = list(train.columns)

In [43]:
train.replace([np.inf, -np.inf], np.nan, inplace=True)
test.replace([np.inf, -np.inf], np.nan, inplace=True)

In [44]:
# пропущенные значения
imputer = SimpleImputer(strategy='median')
train = imputer.fit_transform(train)
test = imputer.transform(test)

# стандартизация
scaler = StandardScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

train = pd.DataFrame(train, columns=feats)
test = pd.DataFrame(test, columns=feats)

## Обучение моодели


В качестве классификатора возьмём градиентный бустинг

In [45]:
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
folds = KFold(n_splits=5, shuffle=True, random_state=23)
val_preds = np.zeros(train.shape[0])
predictions = np.zeros(test.shape[0])

feature_importance_df = pd.DataFrame({'Features': feats, 'Importance': np.zeros(len(feats))})
for n_fold, (trn_idx, val_idx) in enumerate(folds.split(train)):
    trn_x, trn_y = train[feats].iloc[trn_idx], Y.iloc[trn_idx]
    val_x, val_y = train[feats].iloc[val_idx], Y.iloc[val_idx]
    
    clf = LGBMClassifier(
        random_state=23,
        n_estimators=1000,
        learning_rate=0.05,
        num_leaves=34,
        max_depth=8,
        verbose=-1,
    )
    
    clf.fit(trn_x, trn_y, 
            eval_set= [(trn_x, trn_y), (val_x, val_y)], 
            eval_metric='roc_auc', verbose=100, early_stopping_rounds=100)
    
    val_preds[val_idx] = clf.predict_proba(val_x, num_iteration=clf.best_iteration_)[:, 1]
    predictions += clf.predict_proba(test[feats], num_iteration=clf.best_iteration_)[:, 1] / folds.n_splits
    
    feature_importance_df["Importance"] += clf.feature_importances_ / folds.n_splits
    
    print('Fold %2d AUC : %.6f' % (n_fold + 1, roc_auc_score(val_y, val_preds[val_idx])))
    
    del clf, trn_x, trn_y, val_x, val_y
    gc.collect()

print('Full AUC score %.6f' % roc_auc_score(Y, val_preds))

Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.232631	valid_1's binary_logloss: 0.242962
[200]	training's binary_logloss: 0.221309	valid_1's binary_logloss: 0.240024
[300]	training's binary_logloss: 0.212949	valid_1's binary_logloss: 0.239489
[400]	training's binary_logloss: 0.205563	valid_1's binary_logloss: 0.238974
[500]	training's binary_logloss: 0.19893	valid_1's binary_logloss: 0.238794
[600]	training's binary_logloss: 0.192792	valid_1's binary_logloss: 0.238654
[700]	training's binary_logloss: 0.186889	valid_1's binary_logloss: 0.238743
Early stopping, best iteration is:
[622]	training's binary_logloss: 0.191406	valid_1's binary_logloss: 0.238609
Fold  1 AUC : 0.785433
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.232766	valid_1's binary_logloss: 0.241924
[200]	training's binary_logloss: 0.221381	valid_1's binary_logloss: 0.239012
[300]	training's binary_logloss: 0.212866	valid_1's binary_logloss: 0.238471
[400]	training's binary_logloss: 0.205493	valid_1's binary_logloss: 0.23846
[500]	training's binary_logloss: 0.198815	valid_1's binary_logloss: 0.238437
Early stopping, best iteration is:
[425]	training's binary_logloss: 0.203765	valid_1's binary_logloss: 0.238395
Fold  2 AUC : 0.782918
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.23214	valid_1's binary_logloss: 0.244151
[200]	training's binary_logloss: 0.220821	valid_1's binary_logloss: 0.241612
[300]	training's binary_logloss: 0.212475	valid_1's binary_logloss: 0.241114
[400]	training's binary_logloss: 0.205291	valid_1's binary_logloss: 0.240903
[500]	training's binary_logloss: 0.198742	valid_1's binary_logloss: 0.241065
Early stopping, best iteration is:
[410]	training's binary_logloss: 0.204645	valid_1's binary_logloss: 0.240872
Fold  3 AUC : 0.780488
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.232373	valid_1's binary_logloss: 0.243919
[200]	training's binary_logloss: 0.221087	valid_1's binary_logloss: 0.240668
[300]	training's binary_logloss: 0.212777	valid_1's binary_logloss: 0.240004
[400]	training's binary_logloss: 0.205584	valid_1's binary_logloss: 0.239755
[500]	training's binary_logloss: 0.198722	valid_1's binary_logloss: 0.239706
[600]	training's binary_logloss: 0.192518	valid_1's binary_logloss: 0.2396
[700]	training's binary_logloss: 0.186823	valid_1's binary_logloss: 0.239547
Early stopping, best iteration is:
[673]	training's binary_logloss: 0.188357	valid_1's binary_logloss: 0.239492
Fold  4 AUC : 0.785677
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.233852	valid_1's binary_logloss: 0.237722
[200]	training's binary_logloss: 0.222568	valid_1's binary_logloss: 0.235038
[300]	training's binary_logloss: 0.214043	valid_1's binary_logloss: 0.234354
[400]	training's binary_logloss: 0.206767	valid_1's binary_logloss: 0.234165
[500]	training's binary_logloss: 0.200009	valid_1's binary_logloss: 0.234149
[600]	training's binary_logloss: 0.193836	valid_1's binary_logloss: 0.234211
Early stopping, best iteration is:
[507]	training's binary_logloss: 0.199538	valid_1's binary_logloss: 0.234095
Fold  5 AUC : 0.785257
Full AUC score 0.783902

In [46]:
# Датафрейм для загрузки
result_subm = pd.DataFrame()
result_subm['SK_ID_CURR'] = test_id
result_subm['TARGET'] = predictions

# Сохранение датафрейма
result_subm.to_csv('{}_full_data_FE.csv'.format('LGBM'), index = False)

Результат на тестовой выборке **0.78952**

## Удаление неинформативных признаков

In [47]:
non_importance_features = feature_importance_df[feature_importance_df['Importance'] == 0]['Features'].to_list()

In [48]:
cols_to_drop = list(filter(lambda c: c.startswith('SK_ID'), train.columns))
cols_to_drop += non_importance_features

In [49]:
new_train = train.drop(columns=cols_to_drop)
new_test = test.drop(columns=cols_to_drop)

new_feats = list(new_train.columns)
# print(new_feats)

In [50]:
folds = KFold(n_splits=5, shuffle=True, random_state=23)
val_preds = np.zeros(new_train.shape[0])
predictions = np.zeros(new_test.shape[0])

feature_importance_df = pd.DataFrame({'Features': new_feats, 'Importance': np.zeros(len(new_feats))})
for n_fold, (trn_idx, val_idx) in enumerate(folds.split(new_train)):
    trn_x, trn_y = new_train[new_feats].iloc[trn_idx], Y.iloc[trn_idx]
    val_x, val_y = new_train[new_feats].iloc[val_idx], Y.iloc[val_idx]
    
    clf = LGBMClassifier(
        random_state=23,
        n_estimators=1000,
        learning_rate=0.05,
        num_leaves=34,
        max_depth=8,
        verbose=-1,
    )
    
    clf.fit(trn_x, trn_y, 
            eval_set= [(trn_x, trn_y), (val_x, val_y)], 
            eval_metric='roc_auc', verbose=100, early_stopping_rounds=100)
    
    val_preds[val_idx] = clf.predict_proba(val_x, num_iteration=clf.best_iteration_)[:, 1]
    predictions += clf.predict_proba(test[new_feats], num_iteration=clf.best_iteration_)[:, 1] / folds.n_splits
    
    feature_importance_df["Importance"] += clf.feature_importances_ / folds.n_splits
    
    print('Fold %2d AUC : %.6f' % (n_fold + 1, roc_auc_score(val_y, val_preds[val_idx])))
    
    del clf, trn_x, trn_y, val_x, val_y
    gc.collect()

print('Full AUC score %.6f' % roc_auc_score(Y, val_preds))

result_subm = pd.DataFrame()
result_subm['SK_ID_CURR'] = test_id
result_subm['TARGET'] = predictions
result_subm.to_csv('{}_full_data_FE_most_importance_feats.csv'.format('LGBM'), index = False)

Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.232629	valid_1's binary_logloss: 0.242946
[200]	training's binary_logloss: 0.221455	valid_1's binary_logloss: 0.240169
[300]	training's binary_logloss: 0.213062	valid_1's binary_logloss: 0.239483
[400]	training's binary_logloss: 0.205712	valid_1's binary_logloss: 0.239226
[500]	training's binary_logloss: 0.199085	valid_1's binary_logloss: 0.238983
[600]	training's binary_logloss: 0.192813	valid_1's binary_logloss: 0.238891
[700]	training's binary_logloss: 0.186848	valid_1's binary_logloss: 0.238818
[800]	training's binary_logloss: 0.181332	valid_1's binary_logloss: 0.238923
Early stopping, best iteration is:
[700]	training's binary_logloss: 0.186848	valid_1's binary_logloss: 0.238818
Fold  1 AUC : 0.784253
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.232848	valid_1's binary_logloss: 0.241997
[200]	training's binary_logloss: 0.221451	valid_1's binary_logloss: 0.239082
[300]	training's binary_logloss: 0.212931	valid_1's binary_logloss: 0.238647
[400]	training's binary_logloss: 0.205612	valid_1's binary_logloss: 0.238413
[500]	training's binary_logloss: 0.198914	valid_1's binary_logloss: 0.238418
Early stopping, best iteration is:
[420]	training's binary_logloss: 0.204215	valid_1's binary_logloss: 0.238354
Fold  2 AUC : 0.783579
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.232198	valid_1's binary_logloss: 0.244216
[200]	training's binary_logloss: 0.221003	valid_1's binary_logloss: 0.241585
[300]	training's binary_logloss: 0.212748	valid_1's binary_logloss: 0.241088
[400]	training's binary_logloss: 0.205319	valid_1's binary_logloss: 0.241057
Early stopping, best iteration is:
[323]	training's binary_logloss: 0.210961	valid_1's binary_logloss: 0.241005
Fold  3 AUC : 0.780125
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.232315	valid_1's binary_logloss: 0.24385
[200]	training's binary_logloss: 0.221144	valid_1's binary_logloss: 0.240801
[300]	training's binary_logloss: 0.212887	valid_1's binary_logloss: 0.239808
[400]	training's binary_logloss: 0.205556	valid_1's binary_logloss: 0.239625
[500]	training's binary_logloss: 0.198973	valid_1's binary_logloss: 0.239544
Early stopping, best iteration is:
[491]	training's binary_logloss: 0.199535	valid_1's binary_logloss: 0.239509
Fold  4 AUC : 0.785732
Training until validation scores don't improve for 100 rounds.
[100]	training's binary_logloss: 0.233847	valid_1's binary_logloss: 0.237692
[200]	training's binary_logloss: 0.222565	valid_1's binary_logloss: 0.234893
[300]	training's binary_logloss: 0.214222	valid_1's binary_logloss: 0.234306
[400]	training's binary_logloss: 0.206904	valid_1's binary_logloss: 0.234051
[500]	training's binary_logloss: 0.200322	valid_1's binary_logloss: 0.233977
[600]	training's binary_logloss: 0.194147	valid_1's binary_logloss: 0.233976
Early stopping, best iteration is:
[574]	training's binary_logloss: 0.1957	valid_1's binary_logloss: 0.233881
Fold  5 AUC : 0.785861
Full AUC score 0.783864

Результат на тестовой выборке **0.78943**