<a href="https://colab.research.google.com/github/bypolyarka/home-credit-kaggle/blob/master/home_credit_full_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Данные из других таблиц

* application_train/application_test: Основные данные, заемщик идентифицируется по полю SK_ID_CURR

* bureau: Данные по предыдущим займам в других кредитных организациях из кредитного бюро

* bureau_balance: Ежемесячные данные по предыдущим кредитам по бюро. Каждая строка — месяц испльзования кредита

* previous_application: Предыдущие заявки по кредитам в Home Credit, каждая имеет уникальное поле SK_ID_PREV

* POS_CASH_BALANCE: Ежемесячные данные по кредитам в Home Creditс выдачей наличными и кредитам на покупки товаров

* credit_card_balance: Ежемесячные данные по балансу кредитных карт в Home Credit

* installments_payment: Платежная история предыдущих займов в Home Credit.

In [9]:
import gc
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, LabelEncoder

from lightgbm import LGBMClassifier

In [10]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/application_train.csv')
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/application_test.csv')
prev = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/previous_application.csv')
buro = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/bureau.csv')
buro_balance = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/bureau_balance.csv')
credit_card  = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/credit_card_balance.csv')
POS_CASH  = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/POS_CASH_balance.csv')
payments = pd.read_csv('/content/drive/My Drive/Colab Notebooks/input/installments_payments.csv')

y = train['TARGET']
test_id = test[['SK_ID_CURR']]

### Закодируем категориальные признаки

In [11]:
cat_fetures = train.select_dtypes(include=[object]).apply(pd.Series.nunique, axis=0)

In [12]:
dataset = pd.concat([train,test])

le = LabelEncoder()
for col in cat_fetures[cat_fetures ==2].index:
    dataset[col] = le.fit_transform(dataset[col].astype('str'))


dataset = pd.get_dummies(dataset, columns=cat_fetures[cat_fetures > 2].index.to_list())

train = dataset.iloc[:train.shape[0],:]
test = dataset.iloc[train.shape[0]:,]

print ('Формат тренировочной выборки', train.shape)
print ('Формат тестовой выборки', test.shape)

Формат тренировочной выборки (307511, 242)
Формат тестовой выборки (48744, 242)

### Данные кредитного бюро по ежемесячному балансу кредитов

In [13]:
buro_balance.head(7)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C
5       5715448              -5      C
6       5715448              -6      C

MONTHS_BALANCE - количество месяцев до даты подачи заявки на кредит

In [14]:
buro_balance.STATUS.value_counts()

C    13646993
0     7499507
X     5810482
1      242347
5       62406
2       23419
3        8924
4        5847
Name: STATUS, dtype: int64

С - closed, то есть погашенный кредит. X - неизвестный статус. 0 - текущий кредит, отсуствие просрочек. 1 - просрочка 1-30 дней, 2 - просрочка 31-60 дней и так далее до статуса 5 - кредит продан третьей стороне или списан

In [15]:
buro_grouped_size = buro_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].size()
buro_grouped_max = buro_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].max()
buro_grouped_min = buro_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].min()

buro_counts = buro_balance.groupby('SK_ID_BUREAU')['STATUS'].value_counts(normalize = False)
buro_counts_unstacked = buro_counts.unstack('STATUS')
buro_counts_unstacked.columns = ['STATUS_0', 'STATUS_1','STATUS_2','STATUS_3','STATUS_4','STATUS_5','STATUS_C','STATUS_X',]
buro_counts_unstacked['MONTHS_COUNT'] = buro_grouped_size
buro_counts_unstacked['MONTHS_MIN'] = buro_grouped_min
buro_counts_unstacked['MONTHS_MAX'] = buro_grouped_max

buro = buro.join(buro_counts_unstacked, how='left', on='SK_ID_BUREAU')

In [16]:
del buro_balance
gc.collect()

433

### Общие данные по кредитным бюро

In [17]:
buro.head(7)

   SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE  ... MONTHS_COUNT  MONTHS_MIN  MONTHS_MAX
0      215354       5714462        Closed  ...          NaN         NaN         NaN
1      215354       5714463        Active  ...          NaN         NaN         NaN
2      215354       5714464        Active  ...          NaN         NaN         NaN
3      215354       5714465        Active  ...          NaN         NaN         NaN
4      215354       5714466        Active  ...          NaN         NaN         NaN
5      215354       5714467        Active  ...          NaN         NaN         NaN
6      215354       5714468        Active  ...          NaN         NaN         NaN

[7 rows x 28 columns]

In [18]:
buro_cat_features = buro.select_dtypes(include=[object]).apply(pd.Series.nunique, axis=0)
buro_cat_features

CREDIT_ACTIVE       4
CREDIT_CURRENCY     4
CREDIT_TYPE        15
dtype: int64

In [19]:
buro = pd.get_dummies(buro, columns=buro_cat_features.index.to_list())
avg_buro = buro.groupby('SK_ID_CURR').mean()
avg_buro['buro_count'] = buro[['SK_ID_BUREAU', 'SK_ID_CURR']].groupby('SK_ID_CURR').count()['SK_ID_BUREAU']
del avg_buro['SK_ID_BUREAU']

del buro
gc.collect()

0

### Данные по предыдущим заявкам

In [20]:
prev.head(7)

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0
3     2819243      176158  ...           -177.0                        1.0
4     1784265      202054  ...              NaN                        NaN
5     1383531      199383  ...           -137.0                        1.0
6     2315218      175704  ...              NaN                        NaN

[7 rows x 37 columns]

In [21]:
prev_cat_features = prev.select_dtypes(include=[object]).apply(pd.Series.nunique, axis=0)
prev_cat_features

NAME_CONTRACT_TYPE              4
WEEKDAY_APPR_PROCESS_START      7
FLAG_LAST_APPL_PER_CONTRACT     2
NAME_CASH_LOAN_PURPOSE         25
NAME_CONTRACT_STATUS            4
NAME_PAYMENT_TYPE               4
CODE_REJECT_REASON              9
NAME_TYPE_SUITE                 7
NAME_CLIENT_TYPE                4
NAME_GOODS_CATEGORY            28
NAME_PORTFOLIO                  5
NAME_PRODUCT_TYPE               3
CHANNEL_TYPE                    8
NAME_SELLER_INDUSTRY           11
NAME_YIELD_GROUP                5
PRODUCT_COMBINATION            17
dtype: int64

In [22]:
le = LabelEncoder()
for col in prev_cat_features[prev_cat_features < 5].index:
    prev[col] = le.fit_transform(prev[col].astype('str'))

prev = pd.get_dummies(prev, columns=prev_cat_features[prev_cat_features >=5].index.to_list())
avg_prev = prev.groupby('SK_ID_CURR').mean()
cnt_prev = prev[['SK_ID_CURR', 'SK_ID_PREV']].groupby('SK_ID_CURR').count()
avg_prev['nb_app'] = cnt_prev['SK_ID_PREV']
del avg_prev['SK_ID_PREV']

del prev
gc.collect()

0

### Баланс по кредитной карте

In [23]:
POS_CASH.head(7)

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0
3     1903291      269225  ...       0           0
4     2341044      334279  ...       0           0
5     2207092      342166  ...       0           0
6     1110516      204376  ...       0           0

[7 rows x 8 columns]

In [24]:
POS_CASH.NAME_CONTRACT_STATUS.value_counts()

Active                   9151119
Completed                 744883
Signed                     87260
Demand                      7065
Returned to the store       5461
Approved                    4917
Amortized debt               636
Canceled                      15
XNA                            2
Name: NAME_CONTRACT_STATUS, dtype: int64

In [25]:
le = LabelEncoder()
POS_CASH['NAME_CONTRACT_STATUS'] = le.fit_transform(POS_CASH['NAME_CONTRACT_STATUS'].astype(str))
nunique_status = POS_CASH[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').nunique()
nunique_status2 = POS_CASH[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').max()
POS_CASH['NUNIQUE_STATUS'] = nunique_status['NAME_CONTRACT_STATUS']
POS_CASH['NUNIQUE_STATUS2'] = nunique_status2['NAME_CONTRACT_STATUS']
POS_CASH.drop(['SK_ID_PREV', 'NAME_CONTRACT_STATUS'], axis=1, inplace=True)

### Данные по картам

In [26]:
credit_card.head(7)

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0
3     1389973      337855  ...       0           0
4     1891521      126868  ...       0           0
5     2646502      380010  ...       7           0
6     1079071      171320  ...       0           0

[7 rows x 23 columns]

In [27]:
credit_card['NAME_CONTRACT_STATUS'] = le.fit_transform(credit_card['NAME_CONTRACT_STATUS'].astype(str))
nunique_status = credit_card[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').nunique()
nunique_status2 = credit_card[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').max()
credit_card['NUNIQUE_STATUS'] = nunique_status['NAME_CONTRACT_STATUS']
credit_card['NUNIQUE_STATUS2'] = nunique_status2['NAME_CONTRACT_STATUS']
credit_card.drop(['SK_ID_PREV', 'NAME_CONTRACT_STATUS'], axis=1, inplace=True)

### Данные по платежам

In [28]:
payments.head(7)

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000
3     2452527      199697  ...       24350.130    24350.130
4     2714724      167756  ...        2165.040     2160.585
5     1137312      164489  ...        5970.375     5970.375
6     2234264      184693  ...       29432.295    29432.295

[7 rows x 8 columns]

In [29]:
avg_payments = payments.groupby('SK_ID_CURR').mean()
avg_payments2 = payments.groupby('SK_ID_CURR').max()
avg_payments3 = payments.groupby('SK_ID_CURR').min()
del avg_payments['SK_ID_PREV']

del payments
gc.collect()

22

### Объединение таблиц

In [30]:
train = train.merge(right=avg_prev.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_prev.reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(right=avg_buro.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_buro.reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(POS_CASH.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(POS_CASH.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(credit_card.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(credit_card.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(right=avg_payments.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_payments.reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(right=avg_payments2.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_payments2.reset_index(), how='left', on='SK_ID_CURR')

train = train.merge(right=avg_payments3.reset_index(), how='left', on='SK_ID_CURR')
test = test.merge(right=avg_payments3.reset_index(), how='left', on='SK_ID_CURR')

del avg_prev, avg_buro, POS_CASH, credit_card, avg_payments, avg_payments2, avg_payments3
gc.collect()

0

In [31]:
test.drop(columns=['TARGET'], inplace=True)
train.drop(columns=['TARGET'], inplace=True)
print ('Формат тренировочной выборки', train.shape)
print ('Формат тестовой выборки', test.shape)
print ('Формат целевого столбца', y.shape)

Формат тренировочной выборки (307511, 485)
Формат тестовой выборки (48744, 485)
Формат целевого столбца (307511,)

In [32]:
# пропущенные значения
imputer = SimpleImputer(strategy='median')
train = imputer.fit_transform(train)
test = imputer.transform(test)

# стандартизация
scaler = StandardScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

## Обучение моодели


В качестве классификатора возьмём градиентный бустинг

In [33]:
classifier = LGBMClassifier(random_state=23)
classifier.fit(train, y)

predictions = classifier.predict_proba(test)[:, 1]

# Датафрейм для загрузки
submission = test_id
submission['TARGET'] = predictions

# Сохранение датафрейма
submission.to_csv('{}_full_data.csv'.format(classifier.__class__.__name__), index = False)

Результат на тестовой выборке **0.77102**

### Подбор гиперпараметров с помощью GridSearch

In [36]:
from sklearn.model_selection import GridSearchCV, KFold
import numpy as np

In [ ]:
lgbm = LGBMClassifier(random_state=23)
kfold = KFold(shuffle=True, random_state=23)

lgbm_params_grid = {
    'boosting_type': ['gbdt', 'rf'],
    'n_estimators' : [100,200,300],
    'learning_rate': [0.1, 0.05, 0.01],
    'max_depth': [4, 8],
    'min_samples_leaf': [100,150],
    # 'min_child_samples': np.arange(20, 120, 20),
    # 'min_child_weight': [1e-3, 1e-2, 1e-1, 1, 1e1, 1e2, 1e3],
    # 'reg_alpha': [0, 1e-1, 1, 2, 5],
    # 'reg_lambda': [0, 1e-1, 1, 5]
}

gsLGBM = GridSearchCV(lgbm, param_grid=lgbm_params_grid, cv=kfold, scoring="roc_auc", n_jobs=-1, verbose=1)

gsLGBM.fit(train, y, verbose=1)

best_lgbm = gsLGBM.best_estimator_

# Best score
gsLGBM.best_score_

In [33]:
predictions = best_lgbm.predict_proba(test)[:, 1]

# Датафрейм для загрузки
submission = test_id
submission['TARGET'] = predictions

# Сохранение датафрейма
submission.to_csv('{}_full_data_best_clf.csv'.format(best_lgbm.__class__.__name__), index = False)